@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .services {
    padding: $SMALL 0 $LARGE;
    color: $FONT_GRAY;
    &__header {
      margin: $LARGE auto;
      text-align: center;
      &-title {
        @include font-type($MAIN_FONT, $LARGE, bold);

        margin: 0 $SMALL;
        color: $GRAY_600;
      }
    }
    &__content {
      display: grid;
      grid-gap: $LARGE;
      margin: 0 5%;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .services {
    &__content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
