@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .landing {
    display: flex;
    flex: 1 1 auto;
    background-color: black;
    &__content {
      width: 100%;
      height: 125vh;
      &-title {
        @include font-type($SEC_FONT, $LARGE, bold);

        margin-top: $XXLARGE;
        color: white;
        text-align: center;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $MEDIUM_SCREEN) {
}
//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $LARGE_SCREEN) {
  .landing {
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
