@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .project-container {
    display: grid;
    grid-gap: $SMALL;
    grid-template-areas: "project-images" "project-details";
    padding: $MEDIUM;
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .project-container {
    flex: 1 1 auto;
    grid-gap: $MEDIUM;
    grid-template-areas: "project-details project-images";
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding: 0 5%;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .project-container {
    grid-gap: $XXLARGE;
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
  .project-container {
    padding: 0 10%;
  }
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
