@font-face {
  font-weight: lighter;
  font-family: "Gotham Light";
  font-style: normal;
  src: url("../static/fonts/gotham-light.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Gotham Regular";
  font-style: normal;
  src: url("../static/fonts/gotham-regular.woff") format("woff");
}
