@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .team {
    padding: $LARGE;
    text-align: center;
    background-color: $GRAY_300;
    &__header {
      color: $FONT_GRAY;
      &-title {
        @include font-type($MAIN_FONT, $LARGE, bold);

        color: $GRAY_600;
      }
    }
    &__members {
      display: flex;
      justify-content: center;
      margin-top: $MEDIUM;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
