@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .pricingContainer {
    display: grid;
    flex: 1 1 auto;
    grid-gap: $MIDLARGE;
    grid-template-columns: 100%;
    padding: $MIDLARGE $SMALL;
    background: radial-gradient(
      circle,
      $SEC_COLOR 0%,
      darken($MAIN_COLOR, 20) 100%
    );
    &__package {
      display: grid;
      padding: $LARGE;
      text-align: center;
      background: white;
      border-radius: $XXSMALL;
      .package {
        &__header {
          &Title {
            @include font-type($MAIN_FONT, $MIDLARGE, bold);

            margin-bottom: $MIDLARGE;
          }
          &Content {
            @include font-type($MAIN_FONT);

            color: $GRAY_400;
          }
        }
        &__cost {
          @include font-type($MAIN_FONT, $LARGE, bold);

          margin: $MIDLARGE 0;
        }
        &__content {
          @include font-type($MAIN_FONT);

          margin-bottom: $MIDLARGE;
        }
        &__link {
          @include CTA_link();
        }
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .pricingContainer {
    padding: $MIDLARGE 20%;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .pricingContainer {
    grid-template-columns: 1fr 1fr;
    padding: $XLARGE 20%;
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
