@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .project-details {
    display: grid;
    grid-area: project-details;
    width: 100%;
    margin: auto 0;
    &__header {
      margin-bottom: $MEDIUM;
    }
    &__client {
      @include font-type($MAIN_FONT, $LARGE, bold);

      line-height: 1.25;
    }
    &__date {
      @include font-type($MAIN_FONT, $MEDIUM);
    }
    &__overview {
      margin-bottom: $SMALL;
      &-title {
        @include font-type($MAIN_FONT, $MEDIUM);
      }
      &-content {
        @include font-type($MAIN_FONT, $MEDIUM);
      }
    }
    &__design {
      margin-bottom: $SMALL;
      &-title {
        @include font-type($MAIN_FONT, $MEDIUM);
      }
      &-content {
        @include font-type($MAIN_FONT, $MEDIUM);
      }
    }
    &__features {
      margin-bottom: $XSMALL;
      &-title {
        @include font-type($MAIN_FONT, $MEDIUM);

        margin-bottom: $XXSMALL;
      }
      &-list {
        @include font-type($MAIN_FONT, $MEDIUM);
        &-item {
          margin-left: 5%;
        }
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
